<html>
    <head>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    </head>
    <body style="margin: 0px;">
        <h3> Hello, {{ username }} </h3>
        <form action="{% url 'web:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
        
        <form id="start">
            {% csrf_token %}
            <input type="submit" value="Turn on camera">
        </form>
        <form id="stop">
            {% csrf_token %}
            <input type="submit" value="Turn off camera">
        </form>
        <img id="camera_view" style="-webkit-user-select: none;">
    </body>

    <script>
        $('#camera_view').hide();
        $('#start').submit(function(e){
            e.preventDefault();
            $.ajax({
                url:"{% url 'monitor:start'%}",
                type:'post',
                data:$('#start').serialize(),
                success: function(){
                    $('#camera_view').show();
                    $('#camera_view').attr('src',"{% url 'monitor:stream' %}");
                }
            });
        });

        $('#stop').submit(function(e){
            e.preventDefault();
            $.ajax({
                url:"{% url 'monitor:stop'%}",
                type:'post',
                data:$('#stop').serialize(),
                success: function(){
                    $('#camera_view').hide();
                    $('#camera_view').attr('src',"");
                }
            });
        });
    </script>
</html>

